body {
  background-color: skyblue;
}

h1 {
  color: green;
  font-family: courier;
  font-size: 35px;
  text-align: center;
  padding-bottom: 2rem;
}

p {
  color: gray;
  font-family: verdana;
  margin: auto;
  text-align: center;
}

li {
  text-align: center;
}

h2 {
  text-align: center;
}
  
